<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head th:insert="~{layout/layout :: head}">
<meta charset="UTF-8">
<title>Tipo de Usuario</title>

</head>
<body>
	<div class="container-fluid px-4" layout:fragment="page-content">
        <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
            <h1 class="mt-4">Editar Tipo de Usuario</h1>
            <a th:href="@{/Tipo/Listar}" class="btn btn-primary btn-lg">
                <i class="fas fa-arrow-left me-2"></i>Regresar
            </a>
        </div>
    
        <!-- Card para el formulario -->
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <form th:action="@{/Tipo/Editar/{id} (id = ${tipoUsuario.idTipoUsuario})}"  th:object="${tipoUsuario}" method="post">

                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre del Tipo de Usuario</label>
                        <input type="text" class="form-control" id="nombre" th:field="*{nombre}" required placeholder="Ingresar el nombre del Tipo de Usuario">
                    </div>

                    <!-- Botón de guardar -->
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save me-2"></i>Guardar Tipo de Usuario
                    </button>
                </form>
            </div>
        </div>
    </div>
    
    
</body>
</html>